.container {
	width: auto;
}
/*HEADER*/

#header-nav {
	background-color: dimgray;
	border: 0px;
	border-radius: 0px;
}

.navbar-brand h1 {
	color: White;
	line-height: 0.75em;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.navbar-brand {
	padding-top: 0px;
}
.container h2 {
	margin-top: 0px;
}

#nav-list a {
	color:  white;	
}

#nav-list {
	margin-right: 0px;
}

.category-tile {
	background-color: lightgrey;
}
